.checkout__imageAdd {
  width: 100%;
  margin-bottom: 10px;
}

.checkout {
  display: flex;
  background-color: honeydew;
  height: max-content;
  padding: 20px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
